## What is Gradient Descent?
Imagine you're blindfolded on a mountain and want to reach the bottom (lowest point). You:

    Feel the ground with your foot
    Take a step in the steepest downward direction
    Repeat until you reach the bottom

That's exactly what Gradient Descent does! It finds the best solution by taking small steps toward the optimal answer.

### Types of Gradient Descent 
1. Batch Gradient (Direct Solution)

Calculates the exact answer mathematically
Pros: Exact solution, no iterations needed
Cons: Slow with large datasets, doesn't work with all models

2. Stochastic Gradient Descent (SGD)

Uses ONE data point at a time
Pros: Fast, memory efficient, can escape local minima
Cons: Noisy, jumpy path

3. Mini-batch Gradient Descent

Uses SMALL BATCHES of data (e.g., 32 points)
Pros: Best of both worlds - speed and stability
Cons: Need to choose batch size

### Loading Data
Since in the last file, we used synthetic data, let us use Kaggle's California Housing Dataset this time

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.datasets import fetch_california_housing

np.random.seed(42)

california_housing = fetch_california_housing()
X = california_housing.data
y = california_housing.target

feature_names = california_housing.feature_names
df = pd.DataFrame(X, columns=feature_names)
df['MedHouseVal'] = y

print("Dataset shape: " ,df.shape)
print("Features in the dataset are: ")
for i, feature in enumerate(feature_names):
    print(f"{i+1}. {feature}")

print("\nDataset description:")
print("This dataset contains information about California housing from the 1990 census.")
print("Target: Median house value in hundreds of thousands of dollars")

print("\nFirst few rows:")
df.head()

Dataset shape:  (20640, 9)
Features in the dataset are:
1. MedInc
2. HouseAge
3. AveRooms
4. AveBedrms
5. Population
6. AveOccup
7. Latitude
8. Longitude

Dataset description:
This dataset contains information about California housing from the 1990 census.
Target: Median house value in hundreds of thousands of dollars

First few rows:

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

### Exploratory Data Analysis
In simple terms, check for missing values in training and testing data, and remove them

In [2]:
print("Dataset Information: ")
print(train_df.info())
print(train_df.describe())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       333 non-null    int64
 1   crim     333 non-null    float64
 2   zn       333 non-null    float64
 3   indus    333 non-null    float64
 4   chas     333 non-null    int64
 5   nox      333 non-null    float64
 6   rm       333 non-null    float64
 7   age      333 non-null    float64
 8   dis      333 non-null    float64
 9   rad      333 non-null    int64
 10  tax      333 non-null    int64
 11  ptratio  333 non-null    float64
 12  black    333 non-null    float64
 13  lstat    333 non-null    float64
 14  medv     333 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB
None
               ID        crim          zn       indus        chas         nox  \
count  333.000000  333.000000  333.000000  333.000000  333.000000  333.000000
mean   250.951952    3.360341   10.689189   11.293483    0.060060    0.557144
std    147.859438    7.352272   22.674762    6.998123    0.237956    0.114955
min      1.000000    0.006320    0.000000    0.740000    0.000000    0.385000
25%    123.000000    0.078960    0.000000    5.130000    0.000000    0.453000
50%    244.000000    0.261690    0.000000    9.900000    0.000000    0.538000
75%    377.000000    3.678220   12.500000   18.100000    0.000000    0.631000
max    506.000000   73.534100  100.000000   27.740000    1.000000    0.871000

               rm         age         dis         rad         tax     ptratio  \
count  333.000000  333.000000  333.000000  333.000000  333.000000  333.000000
mean     6.265619   68.226426    3.709934    9.633634  409.279279   18.448048
std      0.703952   28.133344    1.981123    8.742174  170.841988    2.151821
min      3.561000    6.000000    1.129600    1.000000  188.000000   12.600000
25%      5.884000   45.400000    2.122400    4.000000  279.000000   17.400000
50%      6.202000   76.700000    3.092300    5.000000  330.000000   19.000000
75%      6.595000   93.800000    5.116700   24.000000  666.000000   20.200000
max      8.725000  100.000000   10.710300   24.000000  711.000000   21.200000

            black       lstat        medv
count  333.000000  333.000000  333.000000
mean   359.466096   12.515435   22.768769
std     86.584567    7.067781    9.173468
min      3.500000    1.730000    5.000000
25%    376.730000    7.180000   17.400000
50%    392.050000   10.970000   21.600000
75%    396.240000   16.420000   25.000000
max    396.900000   37.970000   50.000000

For simplicity of training our model, let us just use few important features instead of all:
1. Room Number
2. Lower Status
3. Pupil-teacher ratio